{% extends 'front_end/base.html' %}
{% load static %}
{% block content %}

{% include 'front_end/navigation_bar.html' %}
<audio id="soundEffect" autoplay controls>
    <source src="{% static 'sound/sound.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<input type="hidden" id="queue" value="{% url 'refresh-home' %}">
        {% include 'front_end/home_queue_hidden.html' %}
</div>



{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
    var numItems = $('#totalQueue').text();

    console.log(numItems);
    function myFunction() {
        var x = document.getElementById("notif");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function refresh() {
        var url = document.getElementById('queue').value

        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                $("#queueResult").html(data);
                var tempNumItems = $('#totalQueue').text();

                console.log(numItems);
                console.log(tempNumItems);

                if (numItems < tempNumItems && tempNumItems > 0) {
                    numItems = tempNumItems;
                    myFunction();
                    sound = document.getElementById('soundEffect');
                    sound.currentTime = 0;
                    sound.play();
                }
             setTimeout(refresh, 10000);
        
            }
        });
    }

    $(function () {
        refresh()
    });
</script>
{% endblock extrascripts %}