{% extends 'front_end/base.html' %}
{% load static %}
{% block content %}

    {% include 'front_end/navigation_bar.html' %}
    <input type="hidden" id="queue" value="{% url 'refresh-queue' %}">

    <div class="container-fluid p-2">
        <div class="d-flex align-items-center justify-content-center">
            <p class="h1"> Queue </p>
        </div>
        {% include 'front_end/queue.html' %}
    </div>

{% endblock %}
{% block extrascripts %}
    <script type="text/javascript">


		function refresh() {
			var url = document.getElementById('queue').value

			$.ajax({
				url: url,
				type: 'GET',
				success: function (data) {
                    $("#queueResult").html(data);
				}
			});
			setTimeout(refresh, 10000);
		}

		$(function () {
			refresh();
		});
	</script>   
	{% endblock extrascripts %}